<div>
    <button (click)="setAddEntityState()" class="btn btn-default">Add Entity</button>
    <button (click)="setSelectEntityState()" class="btn btn-primary">Select Entity</button>
    <button (click)="setAddRelationState()" class="btn btn-info">Add Relation</button>
    <button type="button" class="btn btn-primary"
            [(ngModel)]="singleModel" btnCheckbox
            btnCheckboxTrue="1" btnCheckboxFalse="0">
        Single Toggle
    </button>
    <button (click)="stage.openDlgEditEntity()" class="btn btn-info">Open?</button>

</div>